{{#each erros}}
    <div class="alert-danger alert">{{text}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h2>Adicionar categoria</h2>
        <form action="/cadastro/categorias/nova" method="post">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Nome" class="form-control">
                <br>
            <button class="btn btn-success">Criar categoria</button>
        </form>
    </div>
</div>